* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	scroll-behavior: smooth;
}
body {
	min-height: 100vh;
	background: linear-gradient(#2b1055,#7597de);
	overflow-x: hidden;
}

#section {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 50px;
	display:flex;
	justify-content: center;
	align-items: start;
	overflow: hidden;
}

section::before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top,#8867bd,transparent);
	z-index: 1000;
}


section img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

#text {
	position: absolute;
	color: white;
	white-space: nowrap;
	font-size: 7.5vw;
	z-index: 9;

}

#city{
	z-index: 10;
}

#bridge{
	z-index: 20;
}

#raindrops_front{
	z-index: 25;
}

.btn {
	text-decoration: none;
	position: absolute;
	padding: 20px 50px;
	border-radius: 40px;
	background: #2b1055;
	color: white;
	font-size: 3em;
	z-index: 11;
	transform: translateY(200px);

}
.btn:hover{
	background: white;
	color: #2b1055;

}
.sec {
	position: relative;
	padding: 50px 100px;
	background: #8867bd;
	font-size: 3.5em;
	color: white;
	display: flex;

	z-index: 20;
}

.heading {
	background: #8867bd;
	position: relative;
	padding: 50px 100px; 
	font-size: 3.5em;
	color: white;
	z-index: 20;

    
}

div > section {
	flex-basis: 50%;
}
textarea {
	width: 100%;
	height: 90vh;

	background: linear-gradient(#2b1055,#7597de);
	font-size: 20px;
	color: white;
	border-width: 5px;
	border-style: dashed;
	border-color: white;
}

.button {
	border-width: 2px;
	border-color: #2b1055;
	border-radius: 40px;
	color: #2b1055;
	padding: 16px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 4px 20px;
	cursor: pointer;


    border: 2px solid #000000;
    border-radius: 4px;
    background-color: transparent;

}
.button:hover {
	background-color: #2b1055;
	color: white;
  }

.obr {
	width: 100%;
	height: auto;
}
button{
    background-color: transparent;
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    opacity: 1;
    transition: 0.4s;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: #de3163
}



.slider-thumb::before {
    position: absolute;
    content: "";
    left: 55%;
    top: 20%;
    width: 450px;
    height: 450px;
    background: #17141d;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
  }
  @keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
  }